*{
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
}
/*START: HEADER*/ 
.container_header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_cont
{
    position: relative;
}
.header_bg img
{
    width: 100%;
    height: 50%;
}
.header_logo img
{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    flex-shrink: 0;
}
.navigation 
{
    flex-shrink: 0;
    margin-right: 8%;
    position: absolute;
    top: 5.5em;
    right: 0%;
}
.navigation a 
{
    font: 500 16px Inter;
    color: rgb(255, 244, 217);
    margin-left: 60px;
    text-decoration: none;
    transition: color 0.2s;
}
.navigation a:hover 
{
    color: khaki;
}
.navigation span 
{
    color: khaki;
}
.navigation span:hover 
{
    color: rgb(255, 244, 217);
}
/*END: HEADER*/

/*BODY START: MAIN CONTENT*/
.main_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.container_1, 
.container_2,
.container_3,
.container_4
{
    background: #D9D9D9;  
    width: 75%;
    position: relative;
    left: 8%;
    right: 8%;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 120px;
    transition-duration: 1s;
}
.container_1:hover, .container_3:hover
{
    background: #1e1e1e;
    box-shadow: 0px 0px 25px 3px rgba(48, 48, 48, 0.9);
    width: 85%;
    left: 3%;
    border-radius: 90px;
    transition: 1.5s;  
}
.container_2:hover, .container_4:hover 
{
    background: #ffffff;
    box-shadow: 0px 0px 25px 3px rgba(59, 39, 10, 0.35);
    width: 85%;
    left: 3%;
    border-radius: 90px;
    transition: 1.5s;  
}
.Blog_1 img, 
.Blog_2 img,
.Blog_3 img,
.Blog_4 img
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    transition-duration: 1.5s;
}
.container_1:hover img,
.container_3:hover img
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 5px rgb(255, 255, 255, 0.4);
    transition: 1.8s;
}
.container_2:hover img,
.container_4:hover img 
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
    transition: 1.8s;
}
.container_text1,
.container_text2,
.container_text3,
.container_text4
{
    margin-left: 60px;
    width: 85%;
    transition: 1.5s;
}
.container_1:hover .container_text1,
.container_2:hover .container_text2,
.container_3:hover .container_text3,
.container_4:hover .container_text4
{
    margin-left: 100px;
}
.Blog_1 h1,
.Blog_2 h1,
.Blog_3 h1,
.Blog_4 h1
{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.container_1:hover h1, .container_3:hover h1
{
    color: white;
}
.container_2:hover h1, .container_4:hover h1
{
    color: black;
}
.Blog_1 p,
.Blog_2 p,
.Blog_3 p,
.Blog_4 p
{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 0px;
}
.container_1:hover p, .container_3:hover p
{
    color: white;
}
.container_2:hover p, .container_4:hover p
{
    color: black;
}

/*---RESPONSIVESS: START---*/
@media (max-width: 1200px) /*==DESKTOP SIZE==*/
{
.container_text1, .container_text2,
.container_text3, .container_text4
{
    margin-left: 40px;
    width: 85%;
    transition: 1.5s;
}
.container_1:hover .container_text1,
.container_2:hover .container_text2,
.container_3:hover .container_text3,
.container_4:hover .container_text4
{
    margin-left: 70px;
}
.Blog_1 h1, .Blog_2 h1,
.Blog_3 h1, .Blog_4 h1
{
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.container_1:hover h1, .container_3:hover h1
{
    color: white;
}
.container_2:hover h1, .container_4:hover h1
{
    color: black;
}
.Blog_1 p, .Blog_2 p,
.Blog_3 p, .Blog_4 p
{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 0px;
}
.container_1:hover p, .container_3:hover p
{
    color: white;
}
.container_2:hover p, .container_4:hover p
{
    color: black;
}
}

@media (max-width: 950px) /*==TABLET SIZE==*/
{
.container_text1, .container_text2,
.container_text3, .container_text4
{
    margin-left: 10px;
    width: 96%;
    transition: 1.5s;
}
.container_1:hover .container_text1,
.container_2:hover .container_text2,
.container_3:hover .container_text3,
.container_4:hover .container_text4
{
    margin-left: 10px;
}
.Blog_1 h1, .Blog_2 h1,
.Blog_3 h1, .Blog_4 h1
{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.container_1:hover h1, .container_3:hover h1
{
    color: white;
}
.container_2:hover h1, .container_4:hover h1
{
    color: black;
}
.Blog_1 p, .Blog_2 p,
.Blog_3 p, .Blog_4 p
{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 0px;
}
.container_1:hover p, .container_3:hover p
{
    color: white;
}
.container_2:hover p, .container_4:hover p
{
    color: black;
}
}

@media (max-width: 800px) /*==CELLPHONE SIZE==*/
{
.main_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.container_1, 
.container_2,
.container_3,
.container_4
{
    background: #D9D9D9;  
    width: 75%;
    position: relative;
    left: 7%;
    right: 7%;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 120px;
    transition-duration: 1s;
}
.container_1:hover, .container_3:hover
{
    background: #1e1e1e;
    box-shadow: 0px 0px 40px 8px rgba(48, 48, 48, 0.9);
    width: 85%;
    left: 2.5%;
    border-radius: 90px;
    transition: 1.5s;  
}
.container_2:hover, .container_4:hover 
{
    background: #ffffff;
    box-shadow: 0px 0px 40px 3px rgba(59, 39, 10, 0.5);
    width: 85%;
    left: 2.5%;
    border-radius: 90px;
    transition: 1.5s;  
}
.Blog_1 img, 
.Blog_2 img,
.Blog_3 img,
.Blog_4 img
{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px .5px #545454;
    transition-duration: 1.5s;
}
.container_1:hover img,
.container_3:hover img
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 5px rgb(255, 255, 255, 0.4);
    transition: 1.8s;
}
.container_2:hover img,
.container_4:hover img 
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
    transition: 1.8s;
}
.container_text1, .container_text2,
.container_text3, .container_text4
{
    margin-left: 10px;
    width: 96%;
    transition: 1.5s;
}
.container_1:hover .container_text1,
.container_2:hover .container_text2,
.container_3:hover .container_text3,
.container_4:hover .container_text4
{
    margin-left: 10px;
}
.Blog_1 h1, .Blog_2 h1,
.Blog_3 h1, .Blog_4 h1
{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.container_1:hover h1, .container_3:hover h1
{
    color: white;
}
.container_2:hover h1, .container_4:hover h1
{
    color: black;
}
.Blog_1 p, .Blog_2 p,
.Blog_3 p, .Blog_4 p
{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 0px;
}
.container_1:hover p, .container_3:hover p
{
    color: white;
}
.container_2:hover p, .container_4:hover p
{
    color: black;
}   
}

@media (max-width: 650px)
{
.main_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.container_1, 
.container_2,
.container_3,
.container_4
{
    background: #D9D9D9;  
    width: 80%;
    position: relative;
    left: 6%;
    right: 6%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 120px;
    transition-duration: 1s;
}
.container_1:hover, .container_3:hover
{
    background: #1e1e1e;
    box-shadow: 0px 0px 20px 3px rgba(48, 48, 48, 0.9);
    width: 88%;
    left: 2.5%;
    border-radius: 60px;
    transition: 1.5s;  
}
.container_2:hover, .container_4:hover 
{
    background: #ffffff;
    box-shadow: 0px 0px 20px 3px rgba(59, 39, 10, 0.4);
    width: 88%;
    left: 2.5%;
    border-radius: 60px;
    transition: 1.5s;  
}
.Blog_1 img, 
.Blog_2 img,
.Blog_3 img,
.Blog_4 img
{
    width: 100%;
    height: 10em;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px .5px #545454;
    transition-duration: 1.5s;
}
.container_1:hover img,
.container_3:hover img
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 5px rgb(255, 255, 255, 0.4);
    transition: 1.8s;
}
.container_2:hover img,
.container_4:hover img 
{ 
    border-radius: 50px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);
    transition: 1.8s;
}
.container_text1, .container_text2,
.container_text3, .container_text4
{
    margin-left: 10px;
    transition: 1.5s;
}
.container_1:hover .container_text1,
.container_2:hover .container_text2,
.container_3:hover .container_text3,
.container_4:hover .container_text4
{
    margin-left: 10px;
}
.Blog_1 h1, .Blog_2 h1,
.Blog_3 h1, .Blog_4 h1
{
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.container_1:hover h1, .container_3:hover h1
{
    color: white;
}
.container_2:hover h1, .container_4:hover h1
{
    color: black;
}
.Blog_1 p, .Blog_2 p,
.Blog_3 p, .Blog_4 p
{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: justify;
    position: relative;
    left: 25px;
    margin-bottom: 30px;
}
.container_1:hover p, .container_3:hover p
{
    position: relative;
    left: 30px;
    color: white;
}
.container_2:hover p, .container_4:hover p
{
    position: relative;
    left: 30px;
    color: black;
}  
}



/*---RESPONSIVESS: END---*/
/*BODY END: MAIN CONTENT*/






/*START: FOOTER*/
.footer 
{
    margin-top: -8em;
    height: 100vh;
    width: 100%;
} 
.container-one 
{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
}
  .sections 
{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    gap: 25px;
}
  .sections p 
{
    color: grey;
    font: 300 15px Inter;
    line-height: 55px;
}
  .sections span 
{
    color: rgb(0, 0, 0);
    font: 700 22px Inter;
}
  .container-two 
{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 85px 0px 0px 178px;
}
  .other-info 
{
    display: flex;
    gap: 15px;
}
  .other-info p 
{
    color: rgb(0, 0, 0);
    font: 300 16px Inter;
}
  .line 
{
    height: 20px;
    width: 1px;
    background-color: rgb(0, 0, 0);
}
  .credits p 
{
    color: grey;
    font: 300 16px Inter;
}

@media(max-width: 767px)
{
    .footer-col
    {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 768px)
{
    .footer-col
    {
        width: 100%;
    }
}





















